# List complihension

Let's learn about list comprehensions! 
You are given three integers x, y and z representing the dimensions of a cuboid along with an integer. 
Print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of (i+j+k) is not equal to (n) . Here, . Please use list comprehensions rather than multiple loops, as a learning exercise.

In [36]:
# sample data
x = 2
y = 2
z = 2
n = 2

In [23]:
# Loop を使用した例　注意；i+j+kがnと一致する場合、リストから除く必要がある
test = []
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            test.append([i,j,k])

In [24]:
test

[[0, 0, 0],
 [0, 0, 1],
 [0, 1, 0],
 [0, 1, 1],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 1]]

In [42]:
# List内包表記を使用する！
result = [[i, j, k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if sum([i, j, k]) != n]

In [43]:
print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

# Find Runner-up score!

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up

The first line contains n. The second line contains an array A[] of  integers each separated by a space.

2 <= n <= 10

-100 <= A'[i] <= 100

In [29]:
# Constrains
n = int(input())
arr = map(int, input().split())

# Convert an array to a list
given_list = []
for i in arr:
    given_list.append(i)
    
list_max = max(given_list)
given_set = set(given_list)
given_set.remove(list_max)
print(max(given_set))

6

Practice! You need to find "5"

In [18]:
# Input 
n = [2, 3, 6, 6, 5]

In [19]:
n_max = max(n)

In [24]:
# リストから最大値をすべて削除したいので、重複のないセットを作成する
n_set = set(n)
print(n_set)

{2, 3, 5, 6}

In [21]:
n_set.remove(n_max)

In [22]:
n_set

{2, 3, 5}

In [23]:
max(n_set)

5

In [25]:
arr = map(int, input().split())

In [26]:
arr

In [27]:
print(arr)

<map object at 0x00000259B90A9A30>

In [28]:
for i in arr:
    print(i)

3

# Nested List

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

The first line contains an integer,N, the number of students.

The  subsequent lines describe each student over  lines.

- The first line contains a student's name.
- The second line contains their grade.

In [43]:
# Confirm given constrains
students_score = []
scores = set()

for _ in range(int(input())):
    name = input()
    score = float(input())
    students_score.append([name, score])
    scores.add(score)

In [44]:
students_score

[['a', 1.0], ['b', 3.0]]

In [46]:
print(scores)

{1.0, 3.0}

In [49]:
# setはインデックスで指定できない
scores[1]

TypeError: 'set' object is not subscriptable

In [48]:
# the second lowest
sorted(scores)[1]

3.0

In [37]:
# test case
# the output; 1st line; Berry, 2nd line; Harry
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [40]:
# confirm the result that are sorted 
sorted(students)

[['Akriti', 41],
 ['Berry', 37.21],
 ['Harry', 37.21],
 ['Harsh', 39],
 ['Tina', 37.2]]

In [39]:
# 入れ子のリストに格納されている値を1つずつ出力する
for n, s in students:
    print(n)
    print(s)

Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

In [50]:
sec_low = 37.21

In [60]:
# Store only names in a list
names = [na for (na, so) in students ]
names

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']

In [63]:
# 2番目に小さい値の名前のみリストに格納する
sec_low_names = [na for (na, so) in students if so == sec_low]

for i in sorted(sec_low_names):
    print(i)

Berry
Harry

In [ ]:
# Solution
students_score = []
scores = set()
    
# Made [name, score] and {score}
for _ in range(int(input())):
    name = input()
    score = float(input())
        
    students_score.append([name, score])
    scores.add(score)
    
# Assign the second lowest sore
second_low_score = sorted(scores)[1]
    
# Assing the names that have the second lowest score
second_low_names = sorted([name for (name, score) in students_score if score == second_low_score])
    
for n in second_low_names:
    print(n)

# Dictionary

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. 

Print the average of the marks array for the student name provided, showing 2 places after the decimal.

sample input

a 10 20 30

b 40 50 60 
 
c 70 80 90

In [69]:
# Input
student_marks = {}
n = int(input())
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores

In [70]:
student_marks

{'a': [10.0, 20.0, 30.0], 'b': [40.0, 50.0, 60.0], 'c': [70.0, 80.0, 90.0]}

In [78]:
# the name to calculate an average score
query_name = "b"

In [76]:
# To print key and value from a dictionary 
for k in student_marks:
    print(k, student_marks[k])

a [10.0, 20.0, 30.0]
b [40.0, 50.0, 60.0]
c [70.0, 80.0, 90.0]

In [77]:
# To extract key and value from a dictionary 
for k, v in student_marks.items():
    print(k)
    print(v)

a
[10.0, 20.0, 30.0]
b
[40.0, 50.0, 60.0]
c
[70.0, 80.0, 90.0]

In [95]:
# My solution
for name, scores in student_marks.items():
    if name == query_name:
        print(scores)
        avg_socre = sum(scores)/len(scores)
        print(avg_socre)
        print('{:.2f}'.format(avg_socre))

[40.0, 50.0, 60.0]
50.0
50.00

# Tuple

In [115]:
# Given an integer, n, and n space-separated integers as input
n = int(input())
integer_list = map(int, input().split())

In [116]:
int_list = [i for i in integer_list]
int_list

[1, 2, 3, 4]

In [117]:
test_tuple = tuple(int_list)
test_tuple

(1, 2, 3, 4)

In [118]:
hash(test_tuple)

590899387183067792